
/* You can add global styles to this file, and also import other style files */
//font-family: 'Roboto', sans-serif;
//font-family: 'Montserrat', sans-serif;
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
//vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
html, body {
    height: 100%;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}








body {
    background-color: #000;
    font-family: 'Rubik', sans-serif;
    color: #fff;
}

.particles-js {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

/* nav list */

.nav-list {
    font-family: Rubik;
    font-style: normal;
    font-weight: 700;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.nav-list__item {
    display: inline-block;
    align-items: center;
    white-space: nowrap;
}

.nav-list__link {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #ffffff;
    text-decoration: none !important;
    transition: color 0.2s;
    align-items: center;
    padding: 18px 20px;
}

.nav-list__link:hover {
    color: #fde724;
}

/* ################################## */

/* language list */

.language-list {
    font-family: Rubik;
    font-style: normal;
    font-weight: 700;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.language-list__item {
    display: inline-block;
    align-items: center;
    position: relative;
}

.language-list__item:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 0;
    width: 1px;
    height: 11px;
    background: #ffffff;
}

.language-list__item:last-child:after {
    display: none;
}

.language-list__link {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #ffffff;
    text-decoration: none !important;
    transition: color 0.2s;
    align-items: center;
    padding: 20px 10px;
}

.language-list__link.language-list__link_active {
    color: #fde724;
}

.language-list__link:hover {
    color: #fde724;
}

/* ################################## */

/* menu-tag */

.menu-tag__link {
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #ffffff;
    transition: color 0.2s;
    text-decoration: none !important;
    padding: 18px 0 12px;
}

.menu-tag__link:hover {
    color: #fde724;
}

/* ################################## */

/* header */

.header-position {
    background: #000000;
    position: fixed;
    top: 0;
    z-index: 2;
}

/* ################################## */

/* default */

.section-wrapper {
    padding-top: 48px;
    padding-bottom: 48px;
}

.button {
    display: inline-block;
    left: 0;
    right: 0;
    border: 2px solid #fde724;
    box-sizing: border-box;
    border-radius: 4px;
    color: #fde724;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.3s;
    padding: 14px 32px;
}

.button-mobile_long {
    width: 290px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #FDE724;
}

.button__wrapper {
    margin: 48px auto 0;
    text-align: center;
}

.button__wrapper_contacts-long {
    margin: 18px auto 0;;
}

.button:hover {
    color: #fde724;
    background: rgba(252, 231, 38, 0.15);
    text-decoration: none !important;
}

.custom-position {
    position: absolute;
    top: auto;
    bottom: 65px;
    left: 0;
    right: 0;
}

.app-title {
    font-family: Rubik;
    font-style: normal;
    font-size: 36px;
    align-items: center;
    text-align: center;
    font-weight: 700;
    line-height: 43px;
    color: #ffffff;
}

.app-title_position {
    margin: 0 auto 26px;
}

.app-title_think {
    font-weight: 400;
}

.app-title__img {
    margin-bottom: 8px;
}

.text-description {
    list-style-type: none;
    margin-bottom: 50px;
    font-family: Rubik;
    padding: 0;
}

.text-description__item {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 12px;
}

.text-description__item_big {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #999999;
}

/* ################################## */

/* header */

.top-banner {
    display: block;
    position: relative;
    height: 100vh;
}

.top-banner::after {
    content: '';
    background: url(../img/t-baner.jpg) center center no-repeat;
    background-size: cover;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.main-content {
    padding-top: 50px;
}

.about-company {
    background-color: #000000;
    border-radius: 8px;
}

.product {
    display: block;
    position: relative;
}

.product::after {
    content: '';
    background: url(../img/product-baenr.jpg) center center no-repeat;
    background-size: cover;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.product-card {
    background: #0d0d0d;
    border-radius: 7px;
    padding: 3px;
    text-decoration: none !important;
    display: block;
}

.product-card-header {
    position: relative;
}

.product-card-header__line {
    background: #303030;
    box-shadow: 0 0 35px rgba(253, 231, 36, 0);
    border-radius: 5px;
    height: 14px;
    width: 100%;
    transition: all 0.2s;
}

.product-card-header__etc {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 14px;
    text-align: center;
    color: #ffffff;
    background: #252525;
    border-radius: 10px;
    padding: 4px 8px;
    height: 20px;
    transition: all 0.2s;
}

.product-card-header__logo {
    padding: 15px 25px;
    position: relative;
}

.open-new-icon {
    font-size: 24px;
    line-height: 24px;
    color: #fff;
    margin: 5px 0 0 auto;
}

.product-card__content {
    padding: 0 25px;
}

.product-cart-content__text {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    text-align: justify;
    letter-spacing: -0.03em;
    color: #ffffff;
}

.card-logo-img {
    margin-right: 8px;
}

.product-card:hover {
    cursor: pointer;
}

.product-card:hover .product-card-header__line {
    background: #fde724;
    box-shadow: 0 0 35px rgba(253, 231, 36, 0.35);
}

.product-card:hover .open-new-icon {
    color: #fde724;
}

.product-card:hover .product-card-header__etc {
    color: #fde724;
    background: rgba(253, 231, 36, 0.1);
}

.statistics {
    margin-top: 40px;
}

.statistics_size {
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #fde724;
}

.statistics_text {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    padding: 0 25px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
}

.cooperation-list {
    height: 100px;
    width: 100%;
}

.cooperation-list__link {
    cursor: pointer;
}

.cooperation-list__magento {
    background: url(../img/magento.png) no-repeat;
    transition: background 0.2s;
    background-size: contain;
}

.cooperation-list__magento:hover {
    background: url('../img/magento-ink.png') no-repeat;
    background-size: contain;
}

.cooperation-list__ebay {
    background: url(../img/ebay.png) no-repeat;
    transition: background 0.2s;
    background-size: contain;
}

.cooperation-list__ebay:hover {
    background: url('../img/ebay-ink.png') no-repeat;
    background-size: contain;
}

.cooperation-list__amazon {
    background: url(../img/amazon.png) no-repeat;
    transition: background 0.2s;
    background-size: contain;
}

.cooperation-list__amazon:hover {
    background: url('../img/amazon-ink.png') no-repeat;
    background-size: contain;
}

.cooperation-list__walmart {
    background: url(../img/walmart.png) no-repeat;
    transition: background 0.2s;
    background-size: contain;
}

.cooperation-list__walmart:hover {
    background: url('../img/walmart-ink.png') no-repeat;
    background-size: contain;
}

.vacancies-bg {
    display: block;
    position: relative;
}

.vacancies-bg::after {
    content: '';
    background: url(../img/vacancies-bg.jpg) center center no-repeat;
    background-size: cover;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.vacancies-list {
    list-style-type: none;
    padding: 0;
    margin-top: 50px;
}

.vacancies-list__link {
    text-decoration: none !important;
}

.vacancies-list__item {
    margin-bottom: 30px;
    cursor: default;
}

.vacancies-card {
    background: #0d0d0d;
    border-radius: 10px;
    border-left: 12px solid #303030;
    transition: border 0.2s;
    padding: 13px 22px 13px 23px;
}

.vacancies-card:hover {
    border-left: 12px solid #fde724;
}

.vacancies-card__header {
}

.vacancies-card__title {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
    white-space: nowrap;
    padding-right: 8px;
}

.vacancies-card__title-link {
    color: #ffffff;
    cursor: pointer;
    text-decoration: none !important;
}

.vacancies-card__title-link:hover {
    cursor: pointer;
    color: #ffffff;
}

.app-title-link {
    color: #ffffff;
    cursor: pointer;
    text-decoration: none !important;
}

.app-title-link:hover {
    color: #ffffff;
}

.project-list {
    padding: 0;
    list-style-type: none;
    padding-top: 4px;
}

.project-list__item {
    margin-left: 10px;
    display: inline-block;
    margin-bottom: 4px;
}

.project-item__link {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 11px;
    height: 22px;
    padding: 2px 8px;
    width: 100%;
    transition: background-color 0.2s;
}

.project-item__wrapper {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 11px;
    height: 22px;
    padding: 2px 8px;
    width: 100%;
    transition: background-color 0.2s;
}

.project-item__wrapper:hover {
    background: rgba(253, 231, 36, 0.5);
}

.project-item__img {
    object-fit: contain;
}

.vacancies-card__content {
    margin-top: 8px;
}

.vacancies-content__text {
    font-family: Rubik;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    letter-spacing: -0.5px;
    color: rgba(255, 255, 255, 0.5);
}

.vacancies-tags {
    padding: 0 15px 0 0;
    list-style-type: none;
    margin-bottom: 4px;
}

.vacancies-tags__item {
    display: inline-block;
    margin-right: 6px;
    margin-bottom: 4px;
}

.vacancies-tag-item {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #303030;
    transition: all 0.2s;
    background: rgba(48, 48, 48, 0.1);
    border-radius: 11px;
    height: 22px;
    white-space: nowrap;
    padding: 3px 10px;
}

.vacancies-card:hover .vacancies-tag-item {
    background: rgba(253, 231, 36, 0.1);
    color: #ffffff;
}

.details-link {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 24px;
    text-align: right;
    letter-spacing: -0.5px;
    color: #303030;
    text-decoration: none !important;
    text-transform: none !important;
    transition: color 0.2s;
}

.details-link:hover {
    color: #fde724;
}

.slider-bg {
    display: block;
    position: relative;
}

.slider-bg::after {
    content: '';
    background: url(../img/slider-bg.jpg) center center no-repeat;
    background-size: cover;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.lead-slider__item {
    outline: none !important;
    transition: all 0.5s !important;
}

.lead-slider__item.slick-current .lead-slider__img {
    transform: scale(1.2);
}

.lead-slider {
    margin-bottom: 60px;
}

.lead-slider-img__wrapper {
    margin: 50px 8%;
}

.lead-slider__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 17px;
    overflow: hidden;
    transition: all 0.5s !important;
    /*padding: 7% 0;*/
}

.nav__slider {
}

.nav-slider__item {
    width: 75px;
}

.nav-slider__img {
    width: 100%;
    /*height: 100%;*/
    object-fit: cover;
}

.prev-arrow {
    left: -7px;
}

.prev-arrow > i {
    font-size: 28px;
}

.next-arrow {
    right: -7px;
}

.next-arrow > i {
    font-size: 28px;
}

.prev-arrow,
.next-arrow {
    align-items: center;
    height: 28px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    transition: color 0.2s;
}

.prev-arrow:hover,
.next-arrow:hover {
    cursor: pointer;
    color: #fde724;
}

/* footer */

.footer-wrapper {
    height: 66px;
}

.left-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.left-list__item {
    font-family: Rubik;
}

.left-list__link {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    text-decoration: none !important;
    white-space: nowrap;
    transition: color 0.2s;
    padding: 0 20px;
}

.left-list__link:hover {
    color: #fde724;
}

.link-inner {
    padding-left: 10px;
}

.icon-hover-fill {
    transition: fill 0.2s;
}

.left-list__link:hover .icon-hover-fill {
    fill: #fde724;
}

.social-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.social-list__item {
}

.social-list__link {
    padding: 12px;
}

.social-list__link:hover .icon-hover-fill {
    fill: #fde724;
}

/* #################################### */

.footer-copyright {
    font-family: Rubik;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #ffffff;
    text-align: center;
    opacity: 0.75;
}

/* VACANCIES */

.vacancies-top {
    margin-top: 50px;
    height: 400px;
    display: block;
    position: relative;
}

.vacancies-top::after {
    content: '';
    background: url(../img/vacancies-baner.jpg) center center no-repeat;
    background-size: cover;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.vacancies-slider {
    height: 250px;
}

.vacancies-slider__item {
    outline: none !important;
}

.vacancies-slider .slick-dots {
    bottom: -150px;
}

.vacancies-slider .slick-dots > li {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.25);
    transition: background-color .2s;
}

.vacancies-slider .slick-dots > li:hover {
    background: #FDE724;
}

.vacancies-slider .slick-dots > li.slick-active {
    background: #FDE724;
}

.vacancies-filter {
    margin-top: 50px;
}




.search__input {
    width: 100%;
    background: #1A1A1A;
    border-radius: 5px;
    border: none;
    outline: none !important;
    color: #FFFFFF;
    font-family: Rubik;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 24px;
    height: 52px;
    padding-left: 16px;
}

.search__input:focus {
    background: #1A1A1A;
    color: #FFFFFF;
    box-shadow: none !important;
    border: none !important;
}

.search__img-wrapper {
    background: #1A1A1A;
}

.search__img {
    border: none !important;
    outline: none !important;
    background: url("../img/search-img.png") no-repeat center center;
    padding-right: 26px;
}

.search__img:hover, .search__img:active, .search__img:focus, .search__img:checked {
    background-color: transparent !important;
    box-shadow: none !important;
    border: none !important;
}





/* Typed */
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}






.string {
    color: green;
}

.number {
    color: #2979ff;
}

.boolean {
    color: blue;
}

.null {
    color: magenta;
}

.key {
    color: rgba(255, 255, 255, 0.7);
}

.key:first-child {
    color: #FDE724;
}

.code-wrapper {
    /*width: 500px;*/
    float: left;
    color: #ffffff;
    font-size: 22px;
    line-height: 28px;
    overflow: hidden;
    margin: 0;
    width: min-content;
    tab-size: 4;
    tab-width: 4;
}

.code-wrapper pre {
    color: #ffffff;
}

.code-wrapper span {
    height: 15px;
}

.code-wrapper code {
    line-height: 8px;
}
/*.vacancies-select {*/
/*    background: #1A1A1A;*/
/*    border-radius: 5px;*/
/*    border: none;*/
/*    outline: none !important;*/
/*    color: rgba(255, 255, 255, 0.5);*/
/*    font-family: Rubik;*/
/*    font-style: normal;*/
/*    font-weight: 400;*/
/*    font-size: 19px;*/
/*    line-height: 24px;*/
/*    height: 52px;*/
/*    padding-left: 16px;*/


/*    display: none;*/
/*    position: relative;*/
/*}*/

/* The container must be positioned relative: */
.custom-select {
    position: relative;
    padding: 0;
    border: none;

    background: #1A1A1A;
    border-radius: 5px;
    border: none;
    outline: none !important;
    color: rgba(255, 255, 255, 0.5);
    font-family: Rubik;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 24px;
    /*height: 52px;*/
}

.custom-select select {
    display: none; /*hide original SELECT element: */
}

.select-selected {
    background: #1A1A1A;
}

/* Style the arrow inside the select element: */
.select-selected:after {
    position: absolute;
    content: "";
    top: 20px;
    right: 10px;
    background: url("../img/dropdown-arrow.png") no-repeat center center;
    width: 14px;
    height: 7px;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
    transform: rotate(180deg);
}
/*color: #FDE724;*/
/* style the items (options), including the selected item: */
.select-items div,.select-selected {
    color: rgba(255, 255, 255, 0.5);
    padding: 13px 16px;
    cursor: pointer;
    border-radius: 5px;
}

/* Style items (options): */
.select-items {
    position: absolute;
    background: #1A1A1A;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    color: #FDE724;
    background-color: rgba(0, 0, 0, 0.1);
}

.select-items div {
    color: #ffffff;
}

.select-items div.same-as-selected {
    color: #FDE724;
}

/*.vacancies-select:focus {*/
/*    border: none !important;*/
/*    box-shadow: none !important;*/
/*}*/

/*.vacancies-select:focus {*/
/*    border: none;*/
/*    background: #1A1A1A;*/
/*    color: rgba(255, 255, 255, 0.5);*/
/*}*/

/*select.vacancies-select {*/
/*    -moz-appearance:none; !* Firefox *!*/
/*    -webkit-appearance:none; !* Safari and Chrome *!*/
/*    appearance:none;*/
/*}*/

/*.vacancies-select__item {*/
/*    height: 52px;*/
/*}*/

/* #################################### */


/*\\\\\\\\\\\\POP-UP/////////////!*/

/*.pop-up {*/
/*    background-image: url(../img/pop-up.jpg);*/
/*    background-size: cover;*/
/*    background-position: center center;*/
/*    height: 3991px;*/
/*}*/

/*.pop-up_1 {*/
/*    top: 366px;*/
/*}*/

/*.vacancies-block {*/
/*    position: relative;*/
/*}*/

/*.vac_pop {*/
/*    position: absolute;*/
/*}*/

/*.down_row {*/
/*    border: 0;*/
/*    background: linear-gradient(180deg, rgba(14, 14, 14, 0) 0%, #0e0e0e 0.01%, #0e0e0e 100%);*/
/*    border-radius: 5px;*/
/*    font-weight: 500;*/
/*    font-size: 24px;*/
/*    line-height: 30px;*/
/*    text-align: justify;*/
/*    letter-spacing: -1px;*/
/*    color: rgba(255, 255, 255, 0.5);*/
/*}*/

/*.pop__select {*/
/*    font-weight: 500;*/
/*    font-size: 18px;*/
/*    line-height: 125.1%;*/
/*    text-align: justify;*/
/*    letter-spacing: -1px;*/
/*}*/

/*BLOG*/

.filter {
    display: flex;
    justify-content: space-evenly;
    width: 540px;
    margin: 83px auto 0 auto;
    padding: 12px 21px;
    background: #0d0d0d;
    border-radius: 23px;
    list-style-type: none;
}

.filter__item {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 125.1%;
    letter-spacing: -1px;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none !important;
}

.filter__item:last-child {
    margin-right: 0;
}

.filter__item:hover {
    color: #fde724;
    cursor: pointer;
}

.filter-mobile {
    display: none;
    position: absolute;
    width: 290px;
    /*margin: 86px auto 0 auto;*/
    background: #0d0d0d;
    border-radius: 23px;
    list-style-type: none;
    padding: 0;
    top: 84px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
}

.filter-mobile__icon {
    margin-left: 9px;
    color: #fde724;
}

.filter-mobile__icon:before {
    font-size: 25px;
}

.filter-mobile__item {
    justify-content: center;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -1px;
    padding: 7px;
    cursor: pointer;
}

.filter-mobile__item_show .filter-mobile__icon {
    display: block;
}

.filter-mobile__item_hidden .filter-mobile__icon {
    display: none;
}

.filter-mobile__item_show {
    display: flex;
    color: rgba(255, 255, 255, 0.5);
}

.filter-mobile__item_hidden {
    display: none;
    text-align: center;
}

.blog-card {
    width: 540px;
    background: #0d0d0d;
    border-radius: 20px;
    margin: 33px auto 0 auto;
    padding: 0 19px 31px 19px;
}

.open-google-map {
    display: none!important;
    flex-grow: 1;
    text-align: right;
    color: #fde724;
}

.blog-card__header {
    display: flex;
    align-items: center;
    margin: 0 31px;
}

.blog-card__action {
    flex-grow: 1;
    margin-top: 7px;
}

.blog-card__action_hashtag {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 0;
    color: #ffffff;
    margin: 10px 0 0 0;
}

.blog-card__action_city,
.blog-card__date {
    margin: 0;
    padding: 0;
}

.blog-card__date,
.blog-card__action_city {
    font-family: 'Rubik', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.5);
}

.blog-card__action_city:hover {
    color: #fde724;
    text-decoration: none;
    transition: color 0.2s;
}

.blog-card__date {
    width: 85px;
    margin-top: 7px;
}

.blog-card-slider {
    margin: 0 auto;
    text-align: center;
}

.blog-card-slider__img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.blog-card__header {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 125.1%;
    letter-spacing: -1px;
    color: #ffffff;
}

.blog-card__text {
    font-family: 'Rubik', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 125.1%;
    letter-spacing: -1px;
    color: rgba(255, 255, 255, 0.5);
}

.blog-slider {
    position: relative;
}

.blog-card-slider-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -39px;
    left: 50%;
    transform: translate(-50%, 0);
}

.blog-card-slider__dots {
    margin-left: 6px;
    margin-right: 16px;
}

.blog-card-slider__dots .slick-dots {
    position: static;
    display: flex;
}

.blog-card-slider__dots .slick-dots li {
    width: 3px;
}

.blog-card-slider__dots .slick-dots li button {
    width: 0;
}

.blog-card-slider__dots .slick-dots li button:before {
    color: rgba(255, 255, 255, 0.25) !important;
    width: 10px;
}

.blog-card-slider__dots .slick-dots li.slick-active button:before {
    color: #fde724 !important;
}

.blog-card-slider__arrow {
    color: rgba(255, 255, 255, 0.25);
    font-size: 20px;
    cursor: pointer;
}

.blog-card-slider__arrow:hover {
    color: #fde724;
}

.blog-card-video {
    position: relative;
    height: auto;
    cursor: pointer;
}

.blog-card-video video {
    width: 100%;
    border-radius: 12px;
}

.blog-card-video > .play-button {
    background: url('../img/play-button.svg') center center no-repeat;
    height: 128px;
    left: 50%;
    margin: -64px 0 0 -64px;
    position: absolute;
    top: 50%;
    width: 128px;
    z-index: 1;
    cursor: pointer;
}

.blog-card__info {
    margin: 43px 32px 32px 32px;
}

.blog-card__info_header {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: -1px;
    color: #ffffff;
}

.blog-card__info-wrapper {
    position: relative;
    overflow: hidden;
}

.blog-card__info_text {
    font-family: 'Rubik', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 125.1%;
    letter-spacing: -1px;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.more,
.less {
    font-family: 'Rubik', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 125.1%;
    letter-spacing: -1px;
    color: rgba(255, 255, 255, 0.25);
    cursor: pointer;
}

.more {
    position: absolute;
    bottom: 0;
    left: 150px;
    width: 300px;
    background-color: #0d0d0d;
}

.blog-card__info-less {
    height: 70px;
}

.blog-card__tags {
    margin: 0 32px 0 32px;
}

.blog-card__tag_link {
    color: #ffffff;
    background: #272727;
    border-radius: 11px;
    height: 22px;
    padding: 4px 8px;
    transition: background-color 0.2s;
    font-family: 'Rubik', sans-serif;
    font-weight: normal;
    font-size: 12px;
}

.blog-card__tag_link:hover {
    color: #ffffff;
    background: rgba(253, 231, 36, 0.5);
    text-decoration: none;
}

/*CONTACTS*/

.mobile-contacts {
    display: none;
    justify-content: center;
    margin-top: 75px;
}

.mobile-contact {
    margin: 0px 13px;
}

.mobile-contact__text {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #fde724;
}

.mobile-contact__text:hover {
    color: #fde724;
    text-decoration: none;
}

.mobile-contact__text span {
    margin-left: 6px;
}

.contacts-banner {
    position: relative;
    width: 100%;
    height: 100%;
}

.contacts-chooser {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 430px;
    padding: 0 13px;
    position: absolute;
    top: 57px;
    left: 0;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(94, 94, 94, 0.1);
    border-radius: 20px;
}

.contact {
    position: relative;
}

.contact:hover .icon-hover-fill {
    fill: #fde724;
    cursor: pointer;
}

.contact__text {
    position: absolute;
    top: 4px;
    left: 18px;
    width: 178px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #fde724;
    opacity: 0;
    visibility: hidden;
    padding-left: 28px;
}

.contact__text:hover {
    color: #fde724;
    text-decoration: none;
}

.contacts__phone:hover {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.2s;
}

.contact:hover .contact__text {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.2s;
}

.map {
    width: 100%;
    margin-top: 57px;
}

.mobile-map {
    display: none;
}

.address-card {
    display: block;
    width: 233px;
    position: absolute;
    top: 310px;
    right: 180px;
    background: #0d0d0d;
    border-radius: 7px;
    padding: 3px;
    text-decoration: none !important;
}

.address-card-header__line {
    background: #303030;
    box-shadow: 0 0 35px rgba(253, 231, 36, 0);
    border-radius: 5px;
    height: 9px;
    width: 100%;
    transition: all 0.2s;
}

.address-card-header__title {
    display: flex;
    align-items: center;
    padding: 15px 13px 7px 13px;
}

.address-card-header__text {
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
    margin: 0 0 0 10px;
}

.address-card__content {
    padding: 0 13px;
}

.address-card-content__text {
    font-family: 'Rubik', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.5);
}

.card-logo-img {
    margin-right: 8px;
}

.address-card:hover {
    cursor: pointer;
}

.address-card:hover .address-card-header__line {
    background: #fde724;
    box-shadow: 0 0 35px rgba(253, 231, 36, 0.35);
}

.address-card:hover .open-new-icon {
    color: #fde724;
}

.address-card:hover .address-card-header__etc {
    color: #fde724;
    background: rgba(253, 231, 36, 0.1);
}

/*UPDATE DESKTOP SLIDER*/

.office-bg {
    display: block;
    position: relative;
}

.office-bg::after {
    content: '';
    background: url(../img/office-bg.png) center center no-repeat;
    background-size: cover;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.lead-slider_contacts {
    margin-bottom: 10px;
}

.lead-slider_contacts .slick-track,
.nav-slider_contacts .slick-track {
    display: flex!important;
    align-items: center;
}

/*MOBILE SLIDER*/

.mobile-slider-wrapper {
    display: none;
    width: 287px;
    border-radius: 20px;
    margin: 0 auto;
}

.mobile-slider {
    margin: 0 auto;
    text-align: center;
}

.mobile-slider__item {
    outline: none;
}

.mobile-slider__img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.mobile-slider-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -39px;
    left: 50%;
    transform: translate(-50%, 0);
}

.mobile-slider__dots {
    margin-left: 6px;
    margin-right: 16px;
}

.mobile-slider__dots .slick-dots {
    position: static;
    display: flex;
}

.mobile-slider__dots .slick-dots li {
    width: 3px;
}

.mobile-slider__dots .slick-dots li button {
    width: 0;
}

.mobile-slider__dots .slick-dots li button:before {
    color: rgba(255, 255, 255, 0.25) !important;
    width: 10px;
}

.mobile-slider__dots .slick-dots li.slick-active button:before {
    color: #fde724 !important;
}
